/**
 *
 * This slide style is adapted from the CSS code within the 'DZSlides' template
 * (see 'https://github.com/paulrouget/dzslides').
 *
 */

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
 [role="note"] { 
     display: none;
}
 html {
     font-size: 14px;
}
 body {
     width: 800px;
     height: 600px;
     position: absolute;
     top: 50%;
     left: 50%;
     overflow: hidden;
     display: none;
     color: black;
}
 .view body {
     position: static;
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     display: inline-block;
     overflow: visible;
     overflow-x: hidden;
    /* undo Dz.onresize */
     transform: none !important;
}
 .view head, .view head > title {
     display: block 
}
 section {
     position: absolute;
     pointer-events: none;
     width: 100%;
     height: 100%;
}
 .view section {
     pointer-events: auto;
     position: static;
     width: 800px;
     height: 600px;
     margin: -150px -200px;
     float: left;
     transform: scale(.4);
}
 .view section > * {
     pointer-events: none;
}
 section[aria-selected] {
     pointer-events: auto;
}
 html {
     overflow: hidden;
}
 html.view {
     overflow: visible;
}
 body.loaded {
     display: block;
}
 .next:not([active]) {
    visibility: hidden;
}
 #progress-bar{
     bottom: 0;
     position: absolute;
     transition: width 400ms linear 0s;
}
 .view #progress-bar {
     display: none;
}
 header {
     text-align: left;
     position: absolute;
     top: 0;
     width: 100%;
}
 footer {
     text-align: center;
     position: absolute;
     bottom: 0;
     width: 100%;
}
 .view header {
     display: none;
}
 .view footer {
     display: none;
 }


 code {
     color: #c93932;
     font-size: 18px;
 }
 .codebox {
     background-colour: #221948;
 }

 
 @media print {
     section {
         transition: none;
         transform: none;
         position: static;
         page-break-inside: avoid;
    }
     body {
         overflow: visible;
    }
     #progress-bar{
         display:none;
    }
}
 mark {
     background-color: #c93932;
     color: #f2f4f3;
}
 html, .view body {
     background-color: black;
     counter-reset: slideidx;
}
 body, .view section {
     background-color: #f2f4f3;
     border-radius: 4px;
     font-family: 'Gudea', arial, serif;
}
 section, .view head > title {
     font-size: 2rem;
}
 .view section:after {
     counter-increment: slideidx;
     content: counter(slideidx, decimal-leading-zero);
     position: absolute;
     bottom: -80px;
     right: 100px;
     color: #f2f4f3;
}
 .view head > title {
     color: #f2f4f3;
     text-align: center;
     margin: 1em 0 1em 0;
}
 h1 {
     margin: 120px 0 30px 0;
     text-align: center;
     font-size: 4rem;
}
 h2 {
     text-align: center;
     font-size: 2rem;
}
 footer {
     color: #F2f4f3;
     font-size: 1.5rem;
}
 section > h3 {
     margin: 50px 50px 40px 50px;
     border-bottom: 0.1px solid;
}
 pre {
     overflow: hidden;
     font-size: 1.25rem;
     margin: 0 75px 0 75px;
     padding: 10px;
     border: 1px solid;
     font-weight: bold;
     background-color: #F7F7F7;
     width:80% 
}
 ul, ol {
     margin: 40px 100px 0 100px;
}
 li > ul, ol {
     margin: 0 0 15px 50px;
     list-style-image: none;
    /* in case parent list has some */
}
 mark.next:not([active]) {
     visibility: visible;
    /* override the default behavior where next is hidden */
     background-color: inherit;
    /* and disable highlighting instead */
}
 p {
     margin: 75px 75px 0 75px;
     font-size: 3rem;
}
 table {
     margin: auto;
     font-size:2.5rem;
     text-align: center;
}
 blockquote {
     height: 100%;
     background-color: black;
     color: #f2f4f3;
     font-size: 3.75rem;
     padding: 50px;
}

/* Figures are displayed full-page, with the caption on top of the image/video */
 figure {
     background-color: black;
     width: 100%;
     height: 100%;
}
 figure > * {
     position: absolute;
}
 figure > img, figure > video {
     width: 100%;
     height: 100%;
}
 figcaption {
     margin: 70px;
     font-size: 3rem;
}
 header {
     background-color: #f4845f;
     border-bottom: 4px solid #f25c54;
}
 footer {
     background-color: #c93932;
     border-top: 5px solid #f4845f;
     padding-bottom: 4px;
    /* remember progress bar */
}
 section footer {
     padding: 4px;
}
/* Transition effect */
/* Feel free to change the transition effect for original animations. See here: https://developer.mozilla.org/en/CSS/CSS_transitions How to use CSS3 Transitions: */
 section {
     transition: left 400ms linear 0s;
}
 .view section {
     transition: none;
}
 .view section[aria-selected] {
     border: 5px red solid;
}

/*
 @media screen {
    /* Before */
     section {
         left: -150%;
    }
    /* Now */
     section[aria-selected] {
         left: 0;
    }
    /* After */
     section[aria-selected] ~ section {
         left: +150%;
    }
}
*/

/* The progressbar, at the bottom of the slides, show the global progress of the presentation. */
 #progress-bar {
     height: 4px;
     background: #AAA;
}
